<form [formGroup]="productForm" (ngSubmit)="save()">
    <div class="input-group form-group">
        <input type="hidden" class="form-control" formControlName="productId">
    </div>
    <div class="input-group form-group">
        <label for="productName" class="control-label col-sm-2">Product Name</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="productName">
        </div>
    </div>
    <div class="input-group form-group">
        <label for="categoryId" class="control-label col-sm-2">categoryId</label>
        <div class="col-sm-10">
            <select class="form-control" data-val="true" formControlName="categoryId">
                <option value="">-- Select Category --</option>
                <option *ngFor="let category of categorys" value="{{category.categoryId}}">{{category.categoryName}}</option>
            </select>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="unitPrice" class="control-label col-sm-2">unitPrice</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="unitPrice">
        </div>
    </div>
    <div class="input-group form-group">
        <label for="importPrice" class="control-label col-sm-2">importPrice</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="importPrice">
        </div>
    </div>
    <div class="input-group form-group">
        <label for="discontinued" class="control-label col-sm-2">discontinued</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="discontinued">
                <option value="true">Ngưng bán</option>
                <option value="false">Đang bán</option>
            </select>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="discount" class="control-label col-sm-2">discount</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="discount">
        </div>
    </div>
    <div class="input-group form-group">
        <label for="stock" class="control-label col-sm-2">stock</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="stock">
        </div>
    </div>
    <!-- <div class="input-group form-group">
        <label for="description" class="control-label col-sm-2">description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="description">
        </div>
    </div> -->
    <div class="input-group form-group">
        <label for="image" class="control-label col-sm-2">image</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="image">
        </div>
    </div>
    <div class="input-group form-group">
        <label for="guarantee" class="control-label col-sm-2">guarantee</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="guarantee">
        </div>
    </div>
    <div class="input-group form-group">
        <input type="hidden" class="form-control" formControlName="rate">
    </div>
    <editor formControlName="description" [init]="tinyMceSettings"></editor>
    <button type="submit" class="btn btn-success">Save</button>
    <button class="btn" (click)="cancel()">Cancel</button>
    
    <p>Form value: {{productForm.value | json}}</p>
</form>