<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
<div class="mylogin">
  <div class=""> 
	<div class="d-flex justify-content-center h-100 ">
		<div class="card">
			<div class="card-header">
				<h3>Đăng nhập</h3>
				<div class="d-flex justify-content-end social_icon">
					<span><i placement="top" ngbTooltip="Đăng nhập với facebook" class="fab fa-facebook-square" (click)="socialSignIn('facebook')"></i></span>
					<span><i placement="top" ngbTooltip="Đăng nhập với google" class="fab fa-google-plus" (click)="socialSignIn('google')"></i></span>
				</div>
			</div>
			<div class="card-body">
				<form name="form" (ngSubmit)="loginForm.form.valid && onSubmit(username.value,password.value)" #loginForm="ngForm" novalidate>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-user"></i></span>
						</div>
						<input type="text" class="form-control" placeholder="Tài khoản" ngModel #username="ngModel" name="username" [ngClass]="{ 'is-invalid': loginForm.submitted && username.invalid }" required email>
						<div *ngIf="loginForm.submitted && username.invalid" class="invalid-feedback">
								<div *ngIf="username.errors.required">Không được để trống</div>
								<div *ngIf="username.errors.email">Phải nhập đúng định dạng email</div>
						</div>
					</div>
					<div class="input-group form-group">
						<div class="input-group-prepend">
							<span class="input-group-text"><i class="fas fa-key"></i></span>
						</div>
						<input type="password" class="form-control" placeholder="Mật khẩu" ngModel #password="ngModel" name="password" [ngClass]="{ 'is-invalid': loginForm.submitted && password.invalid }" required minlength="6">
						<div *ngIf="loginForm.submitted && password.invalid" class="invalid-feedback">
								<div *ngIf="password.errors.required">Không được để trống</div>
								<div *ngIf="password.errors.minlength">Mật khẩu tối thiểu 6 kí tự</div>
						</div>
					</div>
					<div class="row align-items-center remember">
						<input type="checkbox">Ghi nhớ
					</div>
					<div class="text-right">
						<input type="submit" value="Đăng nhập" class="btn login_btn">
					</div>
				</form>
			</div>
			<div class="card-footer">
				<div class="d-flex justify-content-center links">
					Bạn đã có tài khoản?<span (click)="signup()">Đăng Ký</span>
				</div>
				<div class="d-flex justify-content-center">
					<a routerLink=".">Quên mật khẩu?</a>
				</div>
			</div>
		</div>
  </div>
</div>
</div>