
  <img class="img-homepage"src="src\assets\img\fahision.jpg" alt="ABCShop">
  <br>
  <!-- 2 style hot -->
  <div  class="row container-fluid">
    <div class="col-sm-6 ">
      <a routerLink="/view/{{idproduct}}">
        <img class="img-homepage2" src="src\assets\img\street-style.jpg" alt="">
      </a>
      <h5 style="margin-bottom:0;" class="text-center">
        <a routerLink="/view/{{idproduct}}">
          STREET STYLE SIÊU CHUẨN CÙNG BST EXIT
        </a>
      </h5>
      <p style="padding-top:5px;" class="text-center ">
        Lấy cảm hứng từ những tín đồ thời trang đường phố mê mẫn những mẫu item thời trang thoải mái. BST EXIT "cool ngầu" theo đúng chất bản chất underground...
      </p>
     
    </div>
    <div class="col-sm-6 ">
      <a routerLink="/view/{{idproduct}}">
        <img class=" img-homepage2" src="src\assets\img\tom-style.jpg" alt="">
      </a>
      <h5 style="margin-bottom:0;" class="text-center">
        <a routerLink="/view/{{idproduct}}">
          MẶC ĐẸP NHƯ MỘT FASHIONISTA CHÍNH HIỆU
        </a>
      </h5>
      <p style="padding-top:5px;" class="text-center">
        Những khối sắc màu đối lập, những họa tiết phá cách tạo nên một bộ sưu tập đa sắc màu...
      </p>
    </div>
  </div>
  
  <div class="container">
    <br>
    <h3 class="text-center ">Top sản phẩm Hot!</h3>
    <h5 class="text-center ">Nhũng sản phẩm mới nhất/ Hot nhất</h5>
    <div class="row">
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
    </div>
    <br>
    <div class="row">
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
    </div>
    <br>
    <a class="view_more" routerLink="/veiw-more">Xem thêm >></a>
    <br>
  </div>
  <hr>
  
  <div class="container">
      <h3 class="text-center ">Top sản phẩm Bán chạy!</h3>
      <h5 class="text-center ">Nhũng sản phẩm Bán chạy nhất</h5>
      <div class="row">
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      </div>
      <br>
      <div class="row">
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
        <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      </div>
      <br>
      <a class="view_more" routerLink="#">Xem thêm >></a>
      <br>
  </div>
  <hr>
  <div class="container">
    <br>
    <h3 class="text-center ">Lựa chọn hoàn hảo cho nam!</h3>
    <h5 class="text-center ">Mạnh mẽ đầy cuốn hút</h5>
    <div class="row">
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
    </div>
    <br>
    <div class="row">
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
    </div>
    <br>
    <a class="view_more" routerLink="#">Xem thêm >></a>
    <br>
  </div>
  <hr>
  <div class="container">
    <br>
    <h3 class="text-center ">Lựa chọn hoàn hảo cho nữ!</h3>
    <h5 class="text-center ">Tự tin khoe cá tính</h5>
    <div class="row">
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
    </div>
    <br>
    <div class="row">
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
      <app-product-show class="col-md-3 col-sm-6"></app-product-show>
    </div>
    <br>
    <a class="view_more" routerLink="#">Xem thêm >></a>
    <br>
  </div>
  <hr>
  <!-- <div class="container">
    <h3 class="h3">View detail product</h3>
    <app-product-view></app-product-view>
  </div> -->