<form [formGroup]="addressForm" (ngSubmit)="save()">
  <div class="input-group form-group">
      <input type="hidden" class="form-control" formControlName="addressId">
  </div>
  <div class="input-group form-group">
      <label for="fullName" class="control-label col-sm-2">Tên</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
          <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
            <div *ngIf="f.fullName.errors.required">Không được để trống</div>
            <div *ngIf="f.fullName.errors.minlength || f.fullName.errors.minlength">Chứa 2-50 ký tự</div>
        </div>
      </div>
  </div>
  <div class="input-group form-group">
    <label for="phoneNumber" class="control-label col-sm-2">Số điện thoại</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
        <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">Không được để trống</div>
            <div *ngIf="f.phoneNumber.errors.minlength || f.phoneNumber.errors.maxlength || f.phoneNumber.errors.pattern">Nhập số điện thoại hợp lệ</div>
        </div>
    </div>
</div>
<div class="input-group form-group">
  <label for="street" class="control-label col-sm-2">Địa chỉ nhận hàng</label>
  <div class="col-sm-10">
      <input type="text" class="form-control" formControlName="street" [ngClass]="{ 'is-invalid': submitted && f.street.errors }">
      <div *ngIf="submitted && f.street.errors" class="invalid-feedback">
        <div *ngIf="f.street.errors.required">Không được để trống</div>
        <div *ngIf="f.street.errors.minlength || f.street.errors.maxlength">Chứa 5-300 ký tự</div>
    </div>
  </div>
</div>
<div class="input-group form-group">
  <label for="province" class="control-label col-sm-2">Tỉnh/ Thành phố</label>
  <div class="col-sm-10">
      <select type="text" class="form-control" (change)="changeSelected($event,'province')" formControlName="province" [ngClass]="{ 'is-invalid': submitted && f.province.errors }">
        <option value="0" hidden disabled>Vui lòng chọn tỉnh/thành phố</option>
        <option *ngFor="let province of provinces" [value]="province.provinceId">
          {{province.name}}
        </option>
      </select>
      <div *ngIf="submitted && f.province.errors" class="invalid-feedback">
        <div *ngIf="f.province.errors.address || f.province.errors.required">Vui lòng chọn tỉnh/thành phố</div>
    </div>
  </div>
</div>
<div class="input-group form-group">
  <label for="district" class="control-label col-sm-2">Quận/ Huyện</label>
  <div class="col-sm-10">
      <select type="text" class="form-control" (change)="changeSelected($event,'district')" formControlName="district" [ngClass]="{ 'is-invalid': submitted && f.district.errors }">
        <option value="0" hidden disabled>Vui lòng chọn quận/huyện</option>
        <option *ngFor="let district of districts" [value]="district.districtId">
          {{district.name}}
        </option>
      </select>
      <div *ngIf="submitted && f.district.errors" class="invalid-feedback">
        <div *ngIf="f.district.errors.address || f.district.errors.required">Vui lòng chọn quận/huyện</div>
    </div>
  </div>
</div>
<div class="input-group form-group">
  <label for="ward" class="control-label col-sm-2">Phường/ Xã</label>
  <div class="col-sm-10">
      <select type="text" class="form-control" (change)="changeSelected($event,'ward')" formControlName="ward" [ngClass]="{ 'is-invalid': submitted && f.ward.errors }">
        <option value="0" hidden disabled>Vui lòng chọn xã/phường</option>
        <option *ngFor="let ward of wards" [value]="ward.wardId">
          {{ward.name}}
        </option>
      </select>
      <div *ngIf="submitted && f.ward.errors" class="invalid-feedback">
        <div *ngIf="f.ward.errors.address || f.ward.errors.required">Vui lòng chọn xã/phường</div>
    </div>
  </div>
</div>
<div class="input-group form-group">
  <label class="control-label col-sm-2"></label>
  <div class="col-sm-10">
      <input type="checkbox" class="" formControlName="isDefault"> Đặt làm địa chỉ mặc định
  </div>
</div>
<div class="input-group form-group">
    <input type="hidden" class="form-control" formControlName="userId">
</div>
<div class="input-group form-group">
  <label class=" col-sm-2"></label>
  <div class="col-sm-10">
    <button type="submit" class="btn btn-warning">Lưu</button>
  </div>
</div>

</form>
