<div class="modal-header">
  <h4 class="modal-title">Chi tiết đơn hàng #{{order.orderId}}</h4>
  <div class="d-flex">
    <h4 class="price-order">{{order.totalPrice | number:'':'es'}}đ</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

</div>
<div class="modal-body">
  <div class="process">
    <div class="status-name"><i class="pi pi-clone"></i> {{order.statusName}}</div>
    <ng-container *ngIf="order.status !== 5 && order.status !== 6 && order.status !== 7">
      <div *ngIf="order.status !== 4">Vui lòng sắp theo thời gian giao hàng để giao hàng trước ngày
        <span class="date">{{order.shippedDate | date:'dd/MM/yyyy'}}</span></div>
      <div class="d-flex justify-content-between next-select">
        <div><i class="pi pi-angle-double-right"></i> Tiếp theo bạn có thể</div>
        <ul class="nav justify-content-end menu-button">
          <li [swal]="deny" *ngIf="order.status == 3">Không nhận hàng</li>
          <li (click)="processOrderStatus()"
            *ngIf="order.status == 1 || order.status == 2 || order.status == 3|| order.status == 4">
            <span *ngIf="order.status == 1">Xác Nhận Giao Hàng</span>
            <span *ngIf="order.status == 2">Đã Lấy Hàng</span>
            <span *ngIf="order.status == 3">Đã Giao Hàng</span>
            <span *ngIf="order.status == 4">Trả Hàng</span>
          </li>
          <li [swal]="cancel"
            *ngIf="order.status != 4 && order.status != 5 && order.status != 6 && order.status != 7">Từ chối</li>
            <swal #deny title="Xác nhận khách hàng không nhận?" text="" type="question"
              [showCancelButton]="true" [focusCancel]="true" [options]="{confirmButtonText: 'Xác nhận',cancelButtonText:'Hủy bỏ'}" (confirm)="cancelUser()">
            </swal>
            <swal #cancel title="Bạn từ chối giao đơn hàng này?" text="" type="question"
              [showCancelButton]="true" [focusCancel]="true" [options]="{confirmButtonText: 'Xác nhận',cancelButtonText:'Hủy bỏ'}" (confirm)="cancelShop()">
            </swal>
        </ul>
      </div>
    </ng-container>
  </div>
  <div class="history">
    <div class="title"><i class="pi pi-chart-bar"></i> Lịch sử mua hàng của người mua</div>
    <div>
      <p>Với những người có tỷ lệ giao hàng thành công thấp, hãy liên hệ xác nhận đơn hàng với họ trước khi gửi hàng</p>
      <div class="d-flex justify-content-around">
        <div class="d-flex align-items-center">
          <div class="circle">
            <span>{{history.percent}}%</span>
          </div>
          <div class="info-history">
            <span>Đơn giao thành công</span>
            <span><span>{{history.totalOrder}}</span>tổng đơn giao</span>
          </div>

        </div>

        <div class="d-flex align-items-center">
          <div class="circle">
            <span>{{history.rate}}/5</span>
          </div>
          <div class="info-history">
            <span>Đánh giá người mua</span>
            <span><span>{{history.totalStar}}</span>đánh giá</span>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="info-order">
    <div class="title"><i class="pi pi-info-circle"></i>Thông tin người nhận</div>
    <div>
      <span class="mr-3">{{order.fullName}}</span>
      <span>{{order.phoneNumber}}</span>
    </div>

    <span>{{order.street}}, {{order.wards}}, {{order.districts}}, {{order.provinces}}</span>
  </div>
  <div class="detail-product">
    <div class="title"><i class="pi pi-list"></i> Chi tiết sản phẩm</div>
      <div *ngFor="let product of order.orderDetails" [class.discontinued]="product.discontinued && order.status==1"
      class="d-flex justify-content-between align-items-center info-product">
      <div class="product-image d-flex align-items-center">
        <div>
          <img src="assets/images/placeholder.png" alt="">
        </div>
        <div>
          <span>{{product.productName}}</span>
        </div>
        
      </div>
      <span>Mã Sp: #{{product.productId}}</span>
      <span>
        đơn giá: {{product.unitPrice | number:'':'es'}}đ
      </span>
      <span>
        số lượng: {{product.quantity}} cái
      </span>
      <span class="warning-dis" *ngIf="product.discontinued && order.status==1">sản phẩm hiện đã ngưng bán</span>
    </div>
  </div>
</div>