<div>
  <h4>Địa Chỉ Của Tôi</h4>
  <div>
    <button (click)="addAddress()" class="btn btn-success">Thêm địa chỉ</button>
  </div>
  <div>
      <div *ngFor="let address of addresses" class="p-3 border-bottom">
        <div class="d-flex justify-content-between">
            <span class="d-block"><i class="pi pi-user" style="font-size: 1.3rem"></i> {{address.fullName}} <span *ngIf="address.isDefault" class="text-default">Mặc Định</span> </span>
          <div class="modify">
            <span class="mr-3">Sửa</span>
            <span>Xóa</span>
          </div>
        </div>
          <span class="d-block"><i class="pi pi-mobile" style="font-size: 1.3rem"></i> {{address.phoneNumber}}</span>
          <div><i class="pi pi-map-marker" style="font-size: 1.3rem"></i>
            {{address.street}}, {{address.location.ward}}, {{address.location.district}}, {{address.location.province}}
          </div>
      </div>
  </div>
</div>