<header>
    <div class="link-bar">
        <div class="container d-flex justify-content-end">
            <span style="cursor: pointer">Giới Thiệu</span>
            <span class="mx-4" style="cursor: pointer">Hỗ Trợ</span>
            <div class="login d-flex" *ngIf="!user && !isUserLoggedIn">
                <span (click)="login()">Đăng Nhập</span>
                <span (click)="signup()">Đăng Ký</span>
            </div>
            <div class="account" *ngIf="user || isUserLoggedIn">
                <span *ngIf="user && !isUserLoggedIn">{{user.name}}</span>
                <span *ngIf="isUserLoggedIn">{{isUserLoggedIn}}</span>
                <div class="option-user">
                    <span *ngIf="user && (user.role === 'admin' || user.role === 'employee')" routerLink="/admin">Trang quản lý admin</span>
                    <span routerLink="/user/edit-profile">Quản lý tài khoản</span>
                    <span routerLink="/user/my-orders">Đơn hàng của tôi</span>
                    <span routerLink="/user/my-review">Nhận xét của tôi</span>
                    <span routerLink="user/change-password">Đổi mật khẩu</span>
                    <span (click)="logout()">Đăng xuất</span>
                </div>
            </div>    
        </div>
        
    </div>
    <div class="logo-bar">
        <div class="container d-flex py-3">
            <div class="logo" routerLink="/">
                <div>
                    <img src="assets/images/bee.png" width="100%" alt="logo">
                </div>
                <span>BeeShop</span>
            </div>
            <div class="search flex-grow-1 input-group" (clickOutside)="isHide = true">
                <input #txtInput type="search" class="form-control" placeholder="Tìm sản phẩm" (keydown.enter)="[txtInput.blur(), gotoSearch()]" (focus)="isHide = false" [formControl]="searchProductControl">
                <ng-container *ngIf="products.length > 0 && !isHide">
                    <ul class="wrap-suggestion" (click)="isHide = true">
                      <li *ngFor="let product of products" routerLink="/products/{{product.productId}}">
                          <div class="img-product">
                                <img *ngIf="product.image" src="{{server}}{{product.image}}" alt="{{product.productName}}">
                                <img *ngIf="!product.image" src="assets/images/placeholder.png" alt="{{product.productName}}">
                          </div>
                        
                        <span class="item-name">{{product.productName}}</span>
                        <span class="price">{{product.unitPrice | number:'':'es'}}₫</span>
                      </li>
                    </ul>
                  </ng-container>
                <button (click)="[gotoSearch(), txtInput.blur()]" class="btn input-group-append align-items-center"><i class="pi pi-search" style="font-size: 1.5rem"></i>Tìm kiếm</button>
            </div>
            <div class="cart">
                <i class="pi pi-shopping-cart" routerLink="/cart">
                <span *ngIf="productNumber > 0"><span class="badge">{{productNumber}}</span></span>
                </i>
            </div>
        </div>
        
    </div>
    <div class="extend">
        
    </div>
</header>