<h4>Đơn hàng của tôi</h4>
<ul class="nav option-menu">
  <li routerLink="/user/my-orders" [class.activeOptions]="isLinkActive(0)">Tất cả</li>
  <li routerLink="/user/my-orders" [queryParams]="{option: 1}" [class.activeOptions]="isLinkActive(1)">Chờ xác nhận</li>
  <li routerLink="/user/my-orders" [queryParams]="{option: 2}" [class.activeOptions]="isLinkActive(2)">Chờ lấy hàng</li>
  <li routerLink="/user/my-orders" [queryParams]="{option: 3}" [class.activeOptions]="isLinkActive(3)">Giao hàng</li>
  <li routerLink="/user/my-orders" [queryParams]="{option: 4}" [class.activeOptions]="isLinkActive(4)">Hoàn thành</li>
  <li routerLink="/user/my-orders" [queryParams]="{option: 5}" [class.activeOptions]="isLinkActive(5)">Đã hủy</li>
</ul>
<div class="order-info"
  *ngFor="let order of orders | paginate: { id: 'pagingorder', itemsPerPage: paging.pageSize, currentPage: currentPage, totalItems: paging.totalItems}">
  <ul class="nav header-order justify-content-between info-order">
    <li>#{{order.orderId}}</li>
    <li>{{order.orderDate | date:'dd-MM-yyyy HH:mm'}}</li>
    <li>Thanh toán khi nhận hàng</li>
    <li>{{order.nameUser}}</li>
    <li>{{phoneNumber}}</li>
    <li>{{order.statusName}}</li>
    <li>{{order.totalPrice | number:'':'es'}}đ</li>
  </ul>
  <div class="">
    <div *ngFor="let product of order.orderDetails" 
      class="d-flex justify-content-between align-items-center info-product">
      <div class="product-image d-flex align-items-center">
        <div>
          <img src="assets/images/placeholder.png" alt="">
        </div>
        <div>
          <span>{{product.productName}}</span>
        </div>
      </div>
      <span>Mã Sp: #{{product.productId}}</span>
      <span>
        đơn giá: {{product.unitPrice | number:'':'es'}}đ
      </span>
      <span>
        số lượng: {{product.quantity}} cái
      </span>
    </div>
    <div>
      <ul class="nav justify-content-end menu-button">
        <li [swal]="deny" *ngIf="order.status == 1">Hủy đơn hàng</li>
        <swal #deny title="Xác nhận hủy đơn hàng?" text="" type="question"
              [showCancelButton]="true" [focusCancel]="true" [options]="{confirmButtonText: 'Xác nhận',cancelButtonText:'Hủy bỏ'}" (confirm)="cancelUser(order)">
            </swal>
      </ul>
    </div>
  </div>
</div>
<div class="p-3 text-right" *ngIf="paging.totalPages > 1">
  <pagination-controls (pageChange)="changePage($event)" id="pagingorder" previousLabel="" nextLabel="">
  </pagination-controls>
</div>