<div *ngFor="let order of orders">
  <div>
  Đơn hàng: {{order.orderId}}<br>
  Đặt ngày: {{order.orderDate | date:'dd-MM-yyyy HH:mm'}} <br>
  Trạng thái: {{order.status}} <br>
  Tổng tiền: {{order.totalPrice}}
</div>
  <div *ngFor="let orderdetail of order.orderDetails">
    <img src="" alt=""><br>
    {{orderdetail.product.productName}}
    <span>Số lượng: {{orderdetail.quantity}}</span><br>
    <span>Đơn giá: {{orderdetail.unitPrice}}</span><br>
    <!-- <span *ngFor="let p of orderdetail.product">Tên sản phẩm: {{p.productName}}</span> -->
  </div>
</div>