<div class="align-items-center input-group w-50 py-3">
  <input type="text" class="form-control w-50" [(ngModel)]="keyword" placeholder="Tìm kiếm id hoặc tên" (keyup)="term$.next($event.target.value)">
  <select class="custom-select form-control input-group-prepend" [(ngModel)]="role" (change)="getUser(1)">
    <option value="all">Tất cả</option>
    <option value="employee">Nhân viên</option>
    <option value="admin">Admin</option>
    <option value="member">Khách hàng</option>
  </select>
</div>
<table class="table table-bordered">
  <thead>
    <tr class="table-info">
      <th>Mã người dùng</th>
      <th>Tên người dùng</th>
      <th>Email</th>
      <th>Số điện thoại</th>
      <th class="text-center">Quyền</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let user of users | paginate: { id: 'paginguser', itemsPerPage: paging.pageSize, currentPage: paging.pageNumber, totalItems: paging.totalItems}">
      <td>{{user.userId}}</td>
      <td>{{user.fullName}}</td>
      <td>{{user.email}}</td>
      <td>{{user.phoneNumber}}</td>
      <td>
        <select [ngModel]="user.role" class="custom-select form-control" (change)="updateRole(user.userId,$event)">
          <option value="employee">Nhân viên</option>
          <option value="admin">Admin</option>
          <option value="member">Khách hàng</option>
        </select>
      </td>
    </tr>
  </tbody>
</table>
<div class="p-3 text-right" *ngIf="paging.totalPages > 1">
  <pagination-controls (pageChange)="changePage($event)" id="paginguser" previousLabel="" nextLabel="">
  </pagination-controls>
</div>