
@media (min-width: 576px) {
    .bg-sm-white{
        background-color: #fff;
    }
}
.del-image{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0.4rem;
    color: #fff;
}
.del-image:hover{
    color: rgb(60, 60, 61);
    cursor: pointer;
}