
@media (min-width: 576px) {
    .bg-sm-white{
        background-color: #fff;
    }
}
.del-image{
    position: absolute;
    top: 0;
    right: 0;
    padding-left: 0.4rem;
    color: rgb(82, 82, 82);
}
.del-image:hover{
    color: rgb(19, 19, 19);
    cursor: pointer;
}