<form [formGroup]="productForm" (ngSubmit)="save()">
    <div class="input-group form-group">
        <input type="hidden" class="form-control" formControlName="productId">
    </div>
    <div class="input-group form-group">
        <label for="productName" class="control-label col-sm-2">Tên Sản Phẩm</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="productName" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }">
            <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
                <div *ngIf="f.productName.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="categoryId" class="control-label col-sm-2">Loại Sản Phẩm</label>
        <div class="col-sm-10">
            <select class="form-control" data-val="true" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                <option value="">-- Select Category --</option>
                <option *ngFor="let category of categorys" value="{{category.categoryId}}">{{category.categoryName}}</option>
            </select>
            <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                <div *ngIf="f.categoryId.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="unitPrice" class="control-label col-sm-2">Giá Bán</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="unitPrice" [ngClass]="{ 'is-invalid': submitted && f.unitPrice.errors }">
            <div *ngIf="submitted && f.unitPrice.errors" class="invalid-feedback">
                <div *ngIf="f.unitPrice.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="importPrice" class="control-label col-sm-2">Giá Nhập</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="importPrice" [ngClass]="{ 'is-invalid': submitted && f.importPrice.errors }">
            <div *ngIf="submitted && f.importPrice.errors" class="invalid-feedback">
                <div *ngIf="f.importPrice.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="discontinued" class="control-label col-sm-2">Trạng thái</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="discontinued" [ngClass]="{ 'is-invalid': submitted && f.discontinued.errors }">
                <option value="true">Ngưng bán</option>
                <option value="false">Đang bán</option>
            </select>
            <div *ngIf="submitted && f.discontinued.errors" class="invalid-feedback">
                <div *ngIf="f.discontinued.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="discount" class="control-label col-sm-2">Giảm Giá (%)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="discount" [ngClass]="{ 'is-invalid': submitted && f.discount.errors }">
            <div *ngIf="submitted && f.discount.errors" class="invalid-feedback">
                <div *ngIf="f.discount.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="stock" class="control-label col-sm-2">Số Lượng</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="stock" [ngClass]="{ 'is-invalid': submitted && f.stock.errors }">
            <div *ngIf="submitted && f.stock.errors" class="invalid-feedback">
                <div *ngIf="f.stock.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <!-- <div class="input-group form-group">
        <label for="description" class="control-label col-sm-2">description</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="description">
        </div>
    </div> -->
    <div class="input-group form-group">
        <label for="image" class="control-label col-sm-2">Ảnh Đại Diện</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="image" [ngClass]="{ 'is-invalid': submitted && f.image.errors }">
            <div *ngIf="submitted && f.image.errors" class="invalid-feedback">
                <div *ngIf="f.image.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="guarantee" class="control-label col-sm-2">Bảo Hành (T)</label>
        <div class="col-sm-10">
            <input type="text" class="form-control" formControlName="guarantee" [ngClass]="{ 'is-invalid': submitted && f.guarantee.errors }">
            <div *ngIf="submitted && f.guarantee.errors" class="invalid-feedback">
                <div *ngIf="f.guarantee.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="summary" class="control-label col-sm-2">Tóm tắt</label>
        <div class="col-sm-10">
            <textarea type="text" class="form-control" formControlName="summary" [ngClass]="{ 'is-invalid': submitted && f.summary.errors }"></textarea>
            <div *ngIf="submitted && f.summary.errors" class="invalid-feedback">
                <div *ngIf="f.summary.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <label for="displayIndex" class="control-label col-sm-2">Hiển thị trang chủ</label>
        <div class="col-sm-10">
            <select class="form-control" formControlName="displayIndex" [ngClass]="{ 'is-invalid': submitted && f.displayIndex.errors }">
                <option value="true">Hiển thị trang chủ</option>
                <option value="false">Không hiển thị</option>
            </select>
            <div *ngIf="submitted && f.displayIndex.errors" class="invalid-feedback">
                <div *ngIf="f.displayIndex.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    <div class="input-group form-group">
        <input type="hidden" class="form-control" formControlName="rate">
    </div>
            <button type="button" class="btn btn-success" (click)="addNewImage()">Thêm chi tiết ảnh</button>
 <br>

    <div formArrayName="productImage">
        <div *ngFor="let comp of productForm.get('productImage').controls; let i=index">
            
            <div [formGroupName]="i" class="input-group form-group">
                <label class="control-label col-sm-2">Đường link ảnh</label>
                <div class="col-sm-10">
                    <input class="form-control" formControlName="url" />
                    <input type="hidden" formControlName="imageId">
                    <input type="hidden" formControlName="productId">
                    <button type="button" class="btn btn-danger" (click)="deleteImage(i)">Xóa</button>
                </div>
                
            </div>
        
        </div>
      </div>

    <editor formControlName="description" [init]="tinyMceSettings"></editor>
    <button type="submit" class="btn btn-success">Lưu</button>
    <button type="button" class="btn" (click)="cancel()">Hủy</button>
    
   <br><br>
</form>