
    <div class="product-grid6">
        <div class="product-image6">
            <a routerLink="/view/{{productIndex.productId}}">
                <img style="height:200px; width: auto" class="pic-1" src="{{productIndex.image}}">
            </a>
        </div>
        <div class="product-content">
            <h3 class="title"><a routerLink="#">{{productIndex.productName}}</a></h3>
            <div class="price">đ {{productIndex.unitPrice | number}}
              <div *ngIf="productIndex.discount">
                <span>{{productIndex.unitPrice/(1-productIndex.discount/100) | number:'1.0-0'}}</span>
                <span>    -{{productIndex.discount}}%</span>
                </div>
            </div>
        </div>
        <ul class="social">
            <!-- cái chỗ quick view sẽ sử dung modal để show ra -->
            <li><a data-tip="Xem nhanh"><i class="fa fa-search"></i></a></li>
            <li><a (click)="buynow()" data-tip="Mua"><i class="fa fa-shopping-bag"></i></a></li>
            <li><a (click)="addcart()" data-tip="Thêm vào giỏ"><i class="fa fa-shopping-cart"></i></a></li>
        </ul>
    </div>
      
      
    

