<div class="row">
  <div class="navi col-3 col-sm-2">
    <ul class="narvar-das">
      <li class="active"><a href="#"><i class="fa fa-cart-arrow-down" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Đơn đặt hàng</span></a></li>
      <li><a (click)="show=!show "><i class="fa fa-tasks" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Sản
            phẩm</span></a></li>
      <li><a href="#"><i class="fa fa-bar-chart" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Thống kê</span></a></li>
      <li><a href="#"><i class="fa fa-truck" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Đã giao</span></a></li>
      <li><a href="#"><i class="fa fa-calendar" aria-hidden="true"></i><span class="hidden-xs hidden-sm">Users</span></a></li>
      
    </ul>
  </div>
  <div class="col-9 col-sm-10">


    <!--Sản pham  -->
    <div *ngIf="show">
      <div class="product ">
          <select class="select-product">
              <option value="0">Tất cả sản phẩm</option>
              <option value="1">Áo Nam</option>
              <option value="2">Áo Nữ</option>
              <option value="3">Quần Nam</option>
              <option value="4">Quần Nữ</option>             
            </select>
      </div>
      <br>
      <hr>
      <br>
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Firstname</th>
              <th>Lastname</th>
              <th>Age</th>
              <th>City</th>
              <th>Country</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
            </tr>
            <tr>
              <td>1</td>
              <td>Anna</td>
              <td>Pitt</td>
              <td>35</td>
              <td>New York</td>
              <td>USA</td>
            </tr>
          </tbody>
        </table>
      </div>

    </div>
    <!-- het san pham -->
  </div>
</div>
