<form [formGroup]="supplierForm" (ngSubmit)="save()">
    <div class="modal-header">
      <h5 class="modal-title">Thêm danh mục sản phẩm</h5>
      <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <div class="form-group align-items-center row">
        <span for="companyName" class="control-label col-sm-4">Tên danh mục</span>
        <div class="col-sm-8">
            <input type="text" class="form-control" formControlName="companyName" [ngClass]="{ 'is-invalid': submitted && f.companyName.errors }">
            <div *ngIf="submitted && f.companyName.errors" class="invalid-feedback">
                <div *ngIf="f.companyName.errors.required">Không được để trống</div>
            </div>
        </div>
      </div>
      <div class="form-group align-items-center row">
        <span for="categoryId" class="control-label col-sm-4">Thuộc danh mục</span>
        <div class="col-sm-8">
            <select class="form-control" data-val="true" formControlName="categoryId" [ngClass]="{ 'is-invalid': submitted && f.categoryId.errors }">
                <option value="">-- Select Category --</option>
            </select>
            <div *ngIf="submitted && f.categoryId.errors" class="invalid-feedback">
                <div *ngIf="f.categoryId.errors.required">Không được để trống</div>
            </div>
        </div>
    </div>
    </div>
    <div class="modal-footer">
      <button type="submit" class="btn btn-success align-items-center d-flex"><i style="font-size: 1.5rem" class="pi pi-save"></i>Lưu</button>
      <button type="button" class="btn btn-outline-dark align-items-center d-flex" (click)="activeModal.close('Close click')"><i style="font-size: 1.5rem" class="pi pi-ban"></i>Bỏ qua</button>
    </div>
  </form>
