.slide{
    position: relative;
    width: 56px;
    height: 56px;
}
.slide:focus{
    outline: none;
}
.slide > img{
    width: 52px;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.star {
    position: relative;
    display: inline-block;
    font-size: 1.5rem;
    color: #6b6868;
  }
.filled {
    color: #ffc120;
}
.half {
    position: absolute;
    display: inline-block;
    overflow: hidden;
    color: #ffc120;
}
.hisprice{
    text-decoration: line-through;
    vertical-align: middle;
    color: #999;
    margin-right: 0.5rem;
}
.price{
    color: red;
    font-size: 2rem;
    font-weight: bold;
}
.quantity{
    flex: 0 0 auto !important;
    width: 4rem !important;
    text-align: center;
    border-left: 0;
}
.minus-plus{
    color: rgba(90, 90, 90, 0.932);
    background: transparent;
    border: 1px solid #ced4da;
    border-radius: 0;
}
.area_article{
    height: 500px;
    overflow: hidden;
}
.show{
    height: auto;
    overflow: visible;
}
.show-more::before{
    height: 55px;
    margin-top: -55px;
    width: 100%;
    content: -webkit-gradient(linear,0% 100%,0% 0%,from(#f4f4f4),color-stop(.2,#f4f4f4),to(rgba(255,255,255,0)));
    display: block;
}
.before-d-none::before{
    display: none;
}
#dummy{
    margin-top: 100%;
}
.thumbnail{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.image-product{
    display: inline-block;
    position: relative;
    width: 100%;
}
.thumbnail > div{
    position: relative;
    height: 100%;    
}
.thumbnail img{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    max-height: 100%;
    max-width: 100%;
}
.product-summary{
    padding: 1.5rem 0;
}
.stock-available > span{
    font-size: 0.8rem;
    color: rgb(61, 61, 61)
}
@media (min-width: 768px) { 
    .product-summary{
        background-color: #fff;
    }
    .stock-available > span{
        font-size: 1rem;
        color: #000;
    }
}
