.navi{
    background: #0e1a35;
    padding-left: 16px;
    min-width: 100 !important;
}
.navi a {
    border-bottom: 1px solid #0d172e;
    border-top: 1px solid #0d172e;
    color: #ffffff;
    display: block;
    font-size: 17px;
    font-weight: 500;
    padding: 28px 20px;
    text-decoration: none;
}

.navi i {
    margin-right: 15px;
    color: #5584ff;
}

.navi .active a {
    background: #122143;
    border-left: 5px solid #5584ff;
    padding-left: 15px;
}

.navi a:hover {
    background: #122143 none repeat scroll 0 0;
    border-left: 5px solid #5584ff;
    display: block;
    padding-left: 15px;
}
.navi ul li {
    list-style: none;
}
.narvar-das{
    list-style-type:none;
    padding: 0;
    margin: 0;
    
}

.select-product{
    height: 30px;
    background: #3366ff;
    border-radius: 5px;
    width: 150px;
    font-size: medium;
    font-family: Arial;
}
.product{
    float: right;
}
