form{
    padding: 2rem 1rem;
    background-color: #fff;
    border-radius: 4px;
}
.input{
    position: relative;
}
.pi{
    position: absolute;
    top: 0;
    bottom: 0;
    margin: auto;
    right: 0;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    padding: 0 5px 0 0;
}
.form-control{
    padding-right: calc(1.5em + .75rem);
}
.form-control.is-invalid{
    background: none;
}
.is-invalid~.invalid-feedback{
    display: block;
}