<h4>Đổi mật khẩu</h4>
<form [formGroup]="passForm" (ngSubmit)="save()">
  <div class="input-group form-group align-items-center">
    <span for="passOld" class="col-sm-3">Mật khẩu cũ</span>
    <div class="col-sm-6 input-pass">
      <input #view1 type="password" class="form-control" formControlName="passOld"
        [ngClass]="{ 'is-invalid': submitted && f.passOld.errors }">
      <div *ngIf="submitted && f.passOld.errors" class="invalid-feedback">
        <div *ngIf="f.passOld.errors.required">Không được để trống</div>
        <div *ngIf="f.passOld.errors.pattern || f.passOld.errors.maxlength">Nhập mật khẩu không hợp lệ</div>
      </div>
      <i class="pi" [class.pi-eye]="view1.type==='text'" [class.pi-eye-slash]="view1.type==='password'" (click)="view1.type=view1.type=='password'?'text':'password'"></i>
    </div>
  </div>
  <div formGroupName="passwords">
    <div class="input-group form-group align-items-center">
      <span for="passNew" class="col-sm-3">Mật khẩu mới</span>
      <div class="col-sm-6 input-pass">
        <input #view2 type="password" class="form-control" formControlName="passNew"
          [ngClass]="{ 'is-invalid': submitted && p.passNew.errors }">
        <div *ngIf="submitted && p.passNew.errors" class="invalid-feedback">
          <div *ngIf="p.passNew.errors.required">Không được để trống</div>
          <div *ngIf="p.passNew.errors.pattern || p.passNew.errors.maxlength">Mật khẩu không quá 50 kí tự</div>
        </div>
        <i class="pi" [class.pi-eye]="view2.type==='text'" [class.pi-eye-slash]="view2.type==='password'" (click)="view2.type=view2.type=='password'?'text':'password'"></i>
      </div>
    </div>
    <div class="input-group form-group align-items-center">
      <span for="passConfirm" class="col-sm-3">Xác nhận lại mật khẩu</span>
      <div class="col-sm-6 input-pass">
        <input #view3 type="password" class="form-control" formControlName="passConfirm"
          [ngClass]="{ 'is-invalid': submitted && (p.passConfirm.errors || f.passwords.errors) }">
        <div *ngIf="submitted && (p.passConfirm.errors || f.passwords.errors)" class="invalid-feedback">
          <div *ngIf="p.passConfirm.errors && p.passConfirm.errors.required">Không được để trống</div>
          <div *ngIf="p.passConfirm.errors && (p.passConfirm.errors.pattern || p.passConfirm.errors.maxlength)">Mật khẩu không quá 50 kí tự</div>
          <div *ngIf="p.passConfirm.value !== p.passNew.value && p.passConfirm.value != null">Mật khẩu không giống nhau</div>
        </div>
        <i class="pi" [class.pi-eye]="view3.type==='text'" [class.pi-eye-slash]="view3.type==='password'" (click)="view3.type=view3.type=='password'?'text':'password'"></i>
      </div>
    </div>
  </div>

  <div class="input-group">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <button type="submit" class="btn btn-warning">Xác nhận thay đổi</button>
    </div>
  </div>
</form>