.quantity{
    flex: 0 0 auto !important;
    width: 4rem !important;
    text-align: center;
    border-left: 0;
}
.minus-plus{
    color: rgba(90, 90, 90, 0.932);
    background: transparent;
    border: 1px solid #ced4da;
    border-radius: 0;
}
.delete-item{
	position: absolute;
	top: 50%;
  	transform: translateY(-50%);
	right: 3px;
}
.product-name{
	text-overflow: ellipsis;
  	overflow: hidden; 
  	white-space: nowrap;
}
.info-product{
	position: relative;
	flex-grow: 1;
	overflow: hidden;
	padding-left: 3px;
}
.cart-item{
	margin-bottom: 1rem;
}
.checkout{
	display: flex;
	justify-content:space-around;
	align-items: center;
}
.cart-footer{
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: white;
	z-index: 1;
	padding: 1rem;
}
.image-product{
	cursor: pointer;
	width: 100px;
	height: 100px;
	position: relative;
	
}
.image-product > img{
	position: absolute;
	top: 0; left: 0; right:0;
	margin: auto;
	max-width: 100px;
	max-height: 100px;
}
.text-price{
	color: rgb(247, 93, 4);
	font-size: 1.3rem;
}
.cart-null{
	height: 50vh;
	background-color: #fff;
	display: flex;
	align-items: center;
    justify-content: center;
}
.cart-null > div{
	text-align: center;
}
.unit-price{
	color: #ff6004;
	font-size: 1.08rem;
}
@media (min-width: 992px) { 
	.info-product{
		position: relative;
		flex-grow: 1;
		overflow: visible;
		padding-left: 3px;
	}
	.delete-item{
		position: absolute;
		top: 0;
		transform: initial;
		right: 3px;
	}
	.product-name{
		text-overflow: initial;
		overflow: inherit; 
		white-space: inherit;
	}
	.product-name span{
		/* autoprefixer: off */
		-webkit-box-orient: vertical;
		/* autoprefixer: on */
		display: -webkit-box;
		-webkit-line-clamp: 2;
		overflow: hidden;
		text-overflow: ellipsis;
		font-size: 1.1rem;
		font-weight: 500;
	}
	.cart-footer{
		position: sticky;
		bottom: 0;
		z-index: 2;
		box-shadow: 0 -7px 4px -3px #f4f4f4;
	}
	.cart-item{
		padding: 1.6rem;
		margin-bottom: 1rem;
		background-color: #fff;
	}
	.btn-checkout{
		width: 30%;
	}
	.btn-checkout > button{
		width: 100%;
	}
	.text-price{
		color: rgb(247, 93, 4);
		font-size: 2rem;
	}
}