<div class="container">
  <table id="cart" class="table table-hover table-condensed">
    <thead>
      <tr>
        <th style="width:50%">Sản phẩm</th>
        <th style="width:10%">Gía</th>
        <th style="width:8%">Số lượng</th>
        <th style="width:22%" class="text-center">Tổng</th>
        <th style="width:10%"></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cart of carts" >
        <td data-th="Product">
          <div class="row">
            <div class="col-sm-2 hidden-xs"><img style="width: 100px; height: 100px" src="{{cart.image}}" alt="..." class="img-responsive" /></div>
            <div class="col-sm-1"></div>
            <div class="col-sm-9">
              <h4 class="nomargin">{{cart.productName}}</h4>
              <p>Quis aute iure reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Lorem
                ipsum dolor sit amet.</p>
            </div>
          </div>
        </td>
        <td data-th="Price">{{cart.unitPrice | number}}</td>
        <td data-th="Quantity">
          <input type="number" (change)="updateQuantity(cart,$event.target.value)" class="form-control text-center" value="{{cart.quantity}}">
        </td>
        <td data-th="Subtotal" class="text-center">{{cart.unitPrice*cart.quantity | number}}</td>
        <td class="actions" data-th="">
          <button (click)="deleteCartDetail(cart.productId)" class="btn btn-danger btn-sm"><i class="fa fa-trash-o"></i></button>
        </td>
      </tr>
      
    </tbody>
    <tfoot>

      <tr>
        <td colspan="3" class="hidden-xs"></td>
        <td class="hidden-xs text-center"><strong>Tổng tiền {{total | number}}</strong></td>
        <td><a (click)="checkOut()" class="btn btn-success btn-block"> Purchase <i class="fa fa-angle-right"></i></a></td>
      </tr>
    </tfoot>
  </table>
</div>

