.option-menu > li{
    padding: 1rem;
    cursor: pointer;
}
.option-menu{
    background-color: #fff;
    margin-bottom: 1rem;
}
.activeOptions, .option-menu >li:hover{
    color: rgb(255, 123, 0);
    border-bottom: 2px solid rgb(255, 123, 0);
}
.header-order{
    background-color: #fff;
}
.header-order > li{
    padding: 1rem;
}
.product-image >div:first-child{
    cursor: pointer;
	width: 80px;
	height: 80px;
    position: relative;
    margin-right: 1rem;
}
.product-image img{
    position: absolute;
	top: 0; left: 0; right:0;
	margin: auto;
	max-width: 80px;
	max-height: 80px;
}
.product-image >div:last-child{
    width: 300px;
    /* autoprefixer: off */
	-webkit-box-orient: vertical;
	/* autoprefixer: on */
	display: -webkit-box;
	-webkit-line-clamp: 3;
	overflow: hidden;
	text-overflow: ellipsis;
}
.menu-button{
    padding: 1rem 0;
}
.menu-button > li{
    padding: 0.5rem 1rem;
    cursor: pointer;
    margin-right: 1rem;
    background-color: rgb(248, 80, 14);
    color: #fff;
    border-radius: 4px;
}
.size-order{
    padding: 1rem;
    background-color: #fff;
    margin-bottom: 1rem;
}
.size-display > span:first-child{
    padding-right: 1rem;
    border-right: 2px solid rgb(95, 95, 95)
}
.custom-select{width: auto}
.info-product{
    border-bottom: 1px dashed #dee2e6;
    padding: 0.5rem;
    position: relative;
}
.discontinued{
    border: 1px dashed  red;
}
.warning-dis{
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    margin: 0 auto;
    color: #ff2828;
    text-align: center;
}
.order-info{
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px 0 rgba(0,0,0,0.16),0 2px 10px 0 rgba(0,0,0,0.12);
}
.search{
    display: flex;
    align-items: center;
}
.search input{
    width: auto;
}
