
<div class="container-fluid my-color">
    <div class="content-wrapper">	
		<div class="item-container">	
			<div class="container">	
				<div class="col-sm-12 row">
					<div class="product col-md-5 col-12 service-image-left img-thumbnail">
						<img class="col-8" id="item-display" src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-9/42221593_1130153407160629_7769704690115149824_n.jpg?_nc_cat=101&_nc_ht=scontent.fsgn5-1.fna&oh=597e6713b89201f4f4c41db85e805c10&oe=5C7BB15B" alt="">
						<div class="container service1-items col-4 pull-right">						
							<a id="item-1" class="img-thumbnail service1-item " >
								<img src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-1/p160x160/42221593_1130153407160629_7769704690115149824_n.jpg?_nc_cat=101&_nc_ht=scontent.fsgn5-1.fna&oh=5ffb7dcde27716ca1482d83b26320ad7&oe=5C88E160" alt="">
							</a>
							<a id="item-2" class="img-thumbnail service1-item ">
								<img src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-1/p160x160/42221593_1130153407160629_7769704690115149824_n.jpg?_nc_cat=101&_nc_ht=scontent.fsgn5-1.fna&oh=5ffb7dcde27716ca1482d83b26320ad7&oe=5C88E160" alt="">
							</a>
							<a id="item-3" class="img-thumbnail service1-item ">
								<img src="https://scontent.fsgn5-1.fna.fbcdn.net/v/t1.0-1/p160x160/42221593_1130153407160629_7769704690115149824_n.jpg?_nc_cat=101&_nc_ht=scontent.fsgn5-1.fna&oh=5ffb7dcde27716ca1482d83b26320ad7&oe=5C88E160" alt="">
							</a>						
						</div>
					</div>					
			
				<div class="col-md-4 col-12 pull-right">
					<div class="product-title">{{name}}Corsair GS600 600 Watt PSU</div>
					<div class="product-desc">{{short-desc}}The Corsair Gaming Series GS600 is the ideal price/performance choice for mid-spec gaming PC</div>
					<div class="product-rating"><i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star gold"></i> <i class="fa fa-star-o"></i> </div>
					<hr>
					<div class="product-price"> {{price}} $ 1234.00</div>
					<div class="product-stock"> {{stature}}In Stock</div>
					<hr>
					<div class="btn-group cart">
						<button type="button" class="btn btn-success" (click)="ThemSuKinClickVao">Add to cart </button>
					</div>
					<div class="btn-group wishlist">
						<button type="button" class="btn btn-danger" (click)="ThemSuKinClickVao">Buy now </button>
					</div>
				</div>
			</div>
			</div> 
		</div>
		<br>
		<hr>
		<br>
		<div class="container-fluid">	
			<h3 >DESCRIPTION</h3>	
			<hr>
			<p>
			{{decriton}} <!-- chung cai nay dr truyen vao-->
			Kem Dưỡng Vùng Da Mắt Chống Oxy Hóa Chiết Xuất Lựu Hunca Care Delight Therapy Pomegranate Eye Gel giúp phục hồi đôi mắt tươi sáng, điều trị mọi vấn đề lão hóa: bọng mắt, quầng thâm, vết chân chim, nếp nhăn... 
			Chiết xuất quả lựu có chức năng chống lão hóa và giúp trẻ hóa làn da của bạn từ trong ra ngoài. Ngoài ra, lựu còn giúp kéo dài tuổi thọ của nguyên bào sợi, tế bào sản sinh ra elastin và collagen, giúp cho da được săn chắc và cải thiện độ đàn hồi của da.
			Dầu từ hạt lựu cũng giúp lớp biểu bì (lớp ngoài cùng của da) được săn chắc khỏe mạnh hơn, làm giảm hoặc xóa mờ hẳn nếp nhăn.
			Thành phần trong lựu có một cấu trúc phân tử rất nhỏ và đó là lý do tại sao dầu hạt quả lựu có thể thẩm thấu rất sâu qua da của bạn và dưỡng ẩm nó từ bên trong. Axit punicic còn giúp đánh bật vi khuẩn mà vẫn đảm bảo rằng da của bạn được mềm mượt, đủ độ ẩm và khỏe mạnh suốt cả ngày.
			Sản phẩm không chứa paraben, parafin.
			</p>

		</div>
		<div class="container text-center">
			<h3 >Hình ảnh</h3>
			<p>
				<img src="src\assets\img\anh1.jpg" alt="">
			</p>
		
			<p>
				<img src="src\assets\img\anh2.jpg" alt="">
			</p>
	
			<p>
				<img src="src\assets\img\anh3.jpg" alt="">
			</p>
			<p>
				<img src="src\assets\img\anh4.jpg" alt="">
			</p>
			<p>
				<img src="src\assets\img\anh5.jpg" alt="">
			</p>
			<p>
				<img src="src\assets\img\anh6.jpg" alt="">
			</p>
		</div>
	</div>
</div>

