<h4>Nhận xét của tôi</h4>
<ul class="nav option-menu">
  <li>Chưa viết đánh giá({{paging.totalItems}})</li>
  <li routerLink="/user/my-review/review-history">Lịch sử đánh giá({{countHistory}})</li>
</ul>
<div class="list-product">
<div class="d-flex" *ngFor="let product of products | paginate: { id: 'pagingproduct', itemsPerPage: paging.pageSize, currentPage: currentPage, totalItems: paging.totalItems}" >
  <div class="col-md-8 p-0 " >
    <div class="info-product">
      <div class="mb-2">Đã mua ngày {{product.orderDate | date:'dd tg MM yyyy'}}</div>
      <div class="product-image d-flex">
        <div>
          <img routerLink="/products/{{product.productId}}" *ngIf="product.image" src="{{server}}{{product.image}}" alt="{{product.productName}}">
          <img routerLink="/products/{{product.productId}}" *ngIf="!product.image" src="assets/images/placeholder.png" alt="{{product.productName}}">
        </div>
        <div>
          <span routerLink="/products/{{product.productId}}">{{product.productName}}</span>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-4 align-items-center d-flex">
    <button (click)="openEditReview(product)" class="btn btn-outline-primary px-5">Nhận xét</button>
  </div>
</div>
</div>
<div class="p-3 text-right" *ngIf="paging.totalPages > 1">
  <pagination-controls (pageChange)="changePage($event)" id="pagingproduct" previousLabel="" nextLabel="">
  </pagination-controls>
</div>