<form [formGroup]="productForm" (ngSubmit)="save()">
  <div class="modal-header">
    <h5 class="modal-title">Thêm sản phẩm</h5>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="form-group align-items-center row">
      <span for="productName" class="control-label col-sm-4">Tên sản phẩm</span>
      <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="productName" [ngClass]="{ 'is-invalid': submitted && f.productName.errors }">
          <div *ngIf="submitted && f.productName.errors" class="invalid-feedback">
              <div *ngIf="f.productName.errors.required">Không được để trống</div>
          </div>
      </div>
    </div>
    <div class="form-group align-items-center row">
      <span for="category" class="control-label col-sm-4">Loại sản phẩm</span>
      <div class="input-group col-sm-8">
          <select class="form-control custom-select" (change)="changeSelected($event)" formControlName="category" [ngClass]="{ 'is-invalid': submitted && f.category.errors }">
              <option value="0" hidden disabled>Vui lòng chọn loại</option>
              <option *ngFor="let ctg of categorySelect" [value]="ctg.categoryId">
                {{ctg.categoryName}}
              </option>
          </select>
          <button type="button" (click)="open()" class="btn btn-outline-success input-group-prepend"><i class="align-middle pi pi-plus"></i></button>
          <div *ngIf="submitted && f.category.errors" class="invalid-feedback">
              <div *ngIf="f.category.errors.required || f.category.errors.address">Không được để trống</div>
          </div>
      </div>
  </div>
  <div class="form-group align-items-center row">
      <span for="unitPrice" class="control-label col-sm-4">Đơn giá nhập</span>
      <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="unitPrice" mask="comma_separator.0" [ngClass]="{ 'is-invalid': submitted && f.unitPrice.errors }">
          <div *ngIf="submitted && f.unitPrice.errors" class="invalid-feedback">
              <div *ngIf="f.unitPrice.errors.required">Không được để trống</div>
          </div>
      </div>
  </div>
  <div class="form-group align-items-center row">
    <span for="quantity" class="control-label col-sm-4">Số lượng</span>
    <div class="col-sm-8">
        <input type="text" class="form-control" formControlName="quantity" mask="comma_separator.0" [ngClass]="{ 'is-invalid': submitted && f.quantity.errors }">
        <div *ngIf="submitted && f.quantity.errors" class="invalid-feedback">
            <div *ngIf="f.quantity.errors.required">Không được để trống</div>
        </div>
    </div>
</div>
  </div>
  <div class="modal-footer">
    <button type="submit" class="btn btn-success align-items-center d-flex"><i style="font-size: 1.5rem" class="pi pi-save"></i>Lưu</button>
    <button type="button" class="btn btn-outline-dark align-items-center d-flex" (click)="activeModal.close('Close click')"><i style="font-size: 1.5rem" class="pi pi-ban"></i>Bỏ qua</button>
  </div>
</form>