<div class="text-right py-3">
  <button class="btn btn-info" (click)="openNewSlide()">Thêm mới</button>
</div>
<table class="table table-bordered">
  <thead>
    <tr class="table-danger">
      <th>STT</th>
      <th>Ảnh</th>
      <th>Đường dẫn</th>
      <th>Thao tác</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let slide of slides; let i=index">
      <td>{{i+1}}</td>
      <td><img src="{{server}}{{slide.image}}" width="50%" alt=""></td>
      <td>{{slide.link}}</td>
      <td>
        <button (click)="delete(slide.slideId)" class="btn btn-sm btn-danger">Xóa</button>
      </td>
    </tr>
  </tbody>
</table>