<footer class="my-4">
  <div class="row mx-0 bg-white py-3">
    <div class="col-sm-4 d-flex justify-content-center">
      <div class="d-inline-block">
        <h6>Về Beeshop</h6>
      <ul class="navbar-nav ">
        <li class="nav-item">
            Giới Thiệu Về Beeshop Việt Nam
        </li>
        <li class="nav-item">
            Tuyển Dụng
        </li>
        <li class="nav-item">
            Điều Khoản Beeshop
        </li>
        <li class="nav-item">
            Chính Sách Bảo Mật Thanh Toán
        </li>
        <li class="nav-item">
            Chính Sách Bảo Mật Thông Tin Cá nhân
        </li>
      </ul>
      </div>
      
    </div>
    <div class="col-sm-4 d-flex justify-content-center">
      <div class="d-inline-block">
        <h6>Liên lạc qua hotline</h6>
        <ul class="navbar-nav ">
            <li class="nav-item">
                Gọi khiếu nại: 1800.1234 (8:00 - 21:30)
            </li>
            <li class="nav-item">
                Gọi bảo hành: 1800.1233 (8:00 - 21:00)
            </li>
            <li class="nav-item">
                Hỗ trợ kỹ thuật: 1800.1232 (7:30 - 22:00)
            </li>
            <li class="nav-item">
                Gọi tư vấn: 1800.1231 (7:30 - 22:00)
            </li>
          </ul>
      </div>
    </div>
    <div class="col-sm-4 text-center">
      <h6>Theo dõi chúng tôi</h6>
      <div>
        <i style="font-size: 2.5rem; color:blue; margin-right: 1rem" class="fab fa-facebook"></i>
        <i style="font-size: 2.5rem; color:red" class="fab fa-youtube"></i>
      </div>
    </div>
  </div>
  <div class="text-center mt-3" style="font-size: 0.8rem">
    <div>Địa chỉ: Tầng 29, Tòa nhà trung tâm Lotte, 41 Trần Nhật Duật, phường Tân Định, Quận 1, Hồ Chí Minh. Tổng đài hỗ trợ: 19001234 - Email: support@beeshop.vn</div>
    <div>GP số 56/GP-TTDT do Sở TTTT TP HCM cấp ngày 30/07/2018.</div>
    <div>© 2015 - Bản quyền thuộc về Công ty TNHH Beeshop</div>
  </div>
</footer>