<!-- Footer -->
<footer class="page-footer font-small blue pt-4">

    <!-- Footer Links -->
    <div class="container-fluid text-center text-md-left">

      <!-- Grid row -->
      <div class="row">

        <!-- Grid column -->
        <div class="col-md-4 mt-md-0 mt-3">

          <!-- Content -->
          <h5 class="text-uppercase">ANC Shop</h5>
          <p>Công nghệ giúp bạn tiến xa hơn</p>

        </div>
        <!-- Grid column -->

        <hr class="clearfix w-100 d-md-none pb-3">

        <!-- Grid column -->
        <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Danh mục sản phẩm</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink="#!">Điện thoại </a>
              </li>
              <li>
                <a routerLink="#!">Laptop</a>
              </li>
              <li>
                <a routerLink="#!">Phụ kiện</a>
              </li>
              <li>
                <a routerLink="#!">Sim Thẻ</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

          <!-- Grid column -->
          <div class="col-md-4 mb-md-0 mb-3">

            <!-- Links -->
            <h5 class="text-uppercase">Liên hệ</h5>

            <ul class="list-unstyled">
              <li>
                <a routerLink="#!">facebook.com/ancshop</a>
              </li>
              <li>
                <a routerLink="#!">zalo: 0993757242</a>
              </li>
              <li>
                <a routerLink="#!">Email: ancshop@gmail.com</a>
              </li>
              <li>
                <a routerLink="#!">Địa chỉ: 100 Võ Văn Ngân, Linh Chiểu, Thủ Đức, TP.HCM</a>
              </li>
            </ul>

          </div>
          <!-- Grid column -->

      </div>
      <!-- Grid row -->

    </div>
    <!-- Footer Links -->

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3">© 2018 Copyright:
      <a routerLink="https://mdbootstrap.com/bootstrap-tutorial/">ANCShop.com</a>
    </div>
    <!-- Copyright -->

  </footer>
  <!-- Footer -->
