<!-- ơ day cdung ng for đẻ xuất ra -->

<div class="row">
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
</div>
<div class="row">
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
</div>
<div class="row">
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
</div>
<div class="row">
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
</div>
<div class="row">
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
</div>
<div class="row">
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
  <app-product-show class="col-md-3 col-sm-6"></app-product-show>
</div>
