<div>
  <h3>Hồ sơ của tôi</h3>
  <hr>
  <form [formGroup]="profileForm" (ngSubmit)="save()">
    <div class="input-group form-group">
      <label for="phoneNumber" class="col-sm-3">Số Điện Thoại</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" mask="0000 000 000" formControlName="phoneNumber" [ngClass]="{ 'is-invalid': submitted && f.phoneNumber.errors }">
          <div *ngIf="submitted && f.phoneNumber.errors" class="invalid-feedback">
            <div *ngIf="f.phoneNumber.errors.required">Không được để trống</div>
            <div *ngIf="f.phoneNumber.errors.pattern || f.phoneNumber.errors.minlength || f.phoneNumber.errors.maxlength">Nhập số điện thoại hợp lệ</div>
        </div>
      </div>
    </div>
    <div class="input-group form-group">
      <label for="fullName" class="col-sm-3">Tên Người Dùng</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="fullName" [ngClass]="{ 'is-invalid': submitted && f.fullName.errors }">
          <div *ngIf="submitted && f.fullName.errors" class="invalid-feedback">
            <div *ngIf="f.fullName.errors.required">Không được để trống</div>
            <div *ngIf="f.fullName.errors.minlength || f.fullName.errors.maxlength">Chứa 2-50 ký tự</div>
        </div>
      </div>
    </div>
    <div class="input-group form-group">
      <label for="gender" class="col-sm-3">Giới Tính</label>
      <div class="col-sm-9 d-flex">
          <p-radioButton class="mr-3 d-inline-flex align-items-center" name="gender" [value]="true" label="Nam" formControlName="gender"></p-radioButton>
          <p-radioButton class="d-inline-flex align-items-center" name="gender" [value]="false" label="Nữ" formControlName="gender"></p-radioButton>
      </div>
    </div>
    <div class="input-group form-group">
      <label for="birthDate" class="col-sm-3">Ngày Sinh</label>
      <div class="col-sm-9">
          <input type="text" class="form-control" formControlName="birthDate" ngbDatepicker 
          #d2="ngbDatepicker" (click)="d2.toggle()" [minDate]="minDate" readonly
          [maxDate]="maxDate" outsideDays="hidden"       
          [ngClass]="{ 'is-invalid': submitted && f.birthDate.errors }">
          <div *ngIf="submitted && f.birthDate.errors" class="invalid-feedback">
            <div *ngIf="f.birthDate.errors.required">Không được để trống</div>
            <div *ngIf="f.birthDate.errors">Ngày không hợp lệ</div>
        </div>
      </div>
    </div>
    <div class="input-group form-group">
      <div class="col-sm-3"></div>
      <div class="col-sm-9">
        <button type="submit" class="btn btn-warning">Lưu Thay Đổi</button>
      </div>
    </div>
    
  </form>
</div>
