<div>
  <h3>Hồ sơ của tôi</h3>
  <h5>Quản lý thông tin hồ sơ để bảo mật tài khoản</h5>
  <hr>
  <form [formGroup]="profileForm" (ngSubmit)="save()">
    <div class="input-group form-group">
      <input type="hidden" class="form-control" formControlName="userId">
    </div>
    <div class="input-group form-group">
      <label for="phone" class="control-label col-sm-2">Số Điện Thoại</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="phone">
      </div>
    </div>
    <div class="input-group form-group">
      <label for="fullName" class="control-label col-sm-2">Tên Người Dùng</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="fullName">
      </div>
    </div>
    <div class="input-group form-group">
      <label for="gender" class="control-label col-sm-2">Giới Tính</label>
      <div class="col-sm-10 control-label">
          <input type="radio" [value]="true" formControlName="gender"> Name
          <input type="radio" [value]="false" formControlName="gender"> Nữ
      </div>
    </div>
    <div class="input-group form-group">
      <label for="birthDate" class="control-label col-sm-2">Ngày Sinh</label>
      <div class="col-sm-10">
          <input type="text" class="form-control" formControlName="birthDate" 
          [owlDateTimeTrigger]="dt1" [owlDateTime]="dt1" [min]="min" [max]="max">
          <owl-date-time [pickerType]="'calendar'" [startView]="'multi-years'" #dt1></owl-date-time>
      </div>
    </div>
    <div class="input-group form-group">
      <div class="control-label col-sm-2"></div>
      <div class="col-sm-10">
        <button type="submit" class="btn btn-warning">Lưu</button>
      </div>
    </div>
    
  </form>
</div>
