.custom-select{
    width: auto !important;
}
.radio-button{
    margin-right: 1rem;
}
th{
    font-weight: 500;
}
.pi-check-circle{
    color: rgb(0, 255, 34);
}
.pi-times-circle{
    color: rgb(255, 0, 0);
}
.control{
    font-size: 1.5rem;
    cursor: pointer;
    margin-right: 0.2rem;
}