<a routerLink="/admin/products/new-product">Thêm sản phẩm</a>
<div>
  <table class="table table-dark table-hover">
    <thead>
      <tr>
        <th>Tên sản phẩm</th>
        <th>Số lượng</th>
        <th>Đơn Giá</th>
        <th>Hình ảnh</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>Samsung galaxy note 9</td>
        <td>29</td>
        <td>23,000,000</td>
        <td>image</td>
        <td>Sửa</td>
        <td>Xóa</td>
      </tr>
      <tr>
        <td>Iphone XS Max</td>
        <td>32</td>
        <td>30,000,000</td>
        <td>image</td>
        <td>Sửa</td>
        <td>Xóa</td>
      </tr>
    </tbody>
  </table>
</div>
