/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url('assets/fonts/Roboto-Regular.ttf') format("opentype");
}
@font-face {
    font-family: 'Roboto';
    font-weight: 500;
    src: url('assets/fonts/Roboto-Medium.ttf') format("opentype");
}
body{
    background-color: #f4f4f4 !important;
    font-family: Roboto,Helvetica,Arial,sans-serif;
    margin: 0;
    font-size: 14px;
}
.modal-holder{
    animation-name: modal;
    animation-duration: 0.3s;
}
  
@keyframes modal {
    0%   {transform: scale(0.5)}
    100% {transform: scale(1)}
}
.ui-fileupload > .ui-fileupload-buttonbar >.ng-star-inserted{
    -webkit-appearance: none;
   -moz-appearance:    none;
   appearance:         none;
}
.ui-fileupload-content{
    min-height: 10rem;
}
@media (max-width: 40em){
    .ui-fileupload-content{
        min-height: 2rem;
    }
    .ui-fileupload-buttonbar > .ng-star-inserted{
        width: 100%;
    }
    .ui-fileupload-row > div:nth-child(3){
        display: none;
    }
    .ui-fileupload-row {
        position: relative;
        display: block;
    }
    .ui-fileupload-files{
        display: block;
    }
    .ui-fileupload-row > div:last-child{
        position: absolute;
        top: 0;
        right: 0;
    }
}
.slick-prev:before, .slick-next:before{
    color: #5a5f5f !important;
}
.next-slide-slick{
    right: 10px;
}
.prev-slide-slick{
    left: 10px;
    
}
.next-slide-slick, .prev-slide-slick{
    position: absolute;
    z-index: 1;
    top: 45%;
    width: 48px;
    height: 40px;
    padding: 12px 0 0;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    background: rgba(0,0,0,.3);
    line-height: 0.2;
    text-align: center;
    font-size: 46px;
    color: #fff;
    font-family: -webkit-body;
    cursor: pointer;
}
.toast-title{
    font-weight: 400 !important;
    font-size: 1.1rem;
}