/* You can add global styles to this file, and also import other style files */
@import "~ag-grid/dist/styles/ag-grid.css";
@import "~ag-grid/dist/styles/ag-theme-balham.css";
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~ng-pick-datetime/assets/style/picker.min.css";
body{
    background-color: #f4f4f4 !important;
    /* background-image: url("https://images.unsplash.com/photo-1533628635777-112b2239b1c7?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=e8f8a90139ee123a94dcc36bc8f14b69&w=1000&q=80"); */
    background-attachment: fixed;
    background-size:cover;
    
    font-family: "Roboto";
    font-weight: 300;
   
    margin: 0;
}

.carousel-control-next-icon, .carousel-control-prev-icon {
    background-color: #e21313!important;
}
.carousel-indicators .active {
    background-color: #f00;
}
.carousel-indicators li {
    background-color: rgba(165, 66, 66, 0.5);
}
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
