<div class="product">
    <div class="image-product">
        <div id="dummy"></div>
        <div class="thumbnail">
            <div>
                <img src="{{productIndex.image}}">
            </div>
        </div>
    </div>

    <div class="product-content">
        <span class="name">{{productIndex.productName}}</span>
        <div class="price-product">{{productIndex.unitPrice | number:'':'es'}} ₫</div>
        <div *ngIf="productIndex.discount" class="discount">
            <span>{{productIndex.unitPrice/(1-productIndex.discount/100) | round:3 | number:'':'es'}} ₫</span>
            <span> -{{productIndex.discount}}%</span>
        </div>
        <div *ngIf="productIndex.rate">
            <ngb-rating [rate]="productIndex.rate" [max]="5" [readonly]="true">
                <ng-template let-fill="fill">
                    <span class="star" [class.filled]="fill === 100">
                        <span class="half" [style.width.%]="fill">&#9733;</span>
                        &#9733;</span>
                </ng-template>
            </ngb-rating> 
            <span class="num-rate">({{productIndex.totalRate}} nhận xét)</span>
        </div>
        

    </div>
</div>