<div class="container">
  <div class="row">
    <div class="category">
      <app-category></app-category>
    </div>
    <div class="col-9">
      <ngx-slick-carousel class="carousel" #slickModal="slick-carousel" [config]="slideConfig">
        <div ngxSlickItem *ngFor="let slide of slides" class="slide">
          <img routerLink="{{slide.link}}" src="{{server}}{{slide.image}}" alt="" width="100%">
        </div>
      </ngx-slick-carousel>
    </div>
  </div>
  <h3>Sản phẩm nổi bật</h3>
  <div class="row my-3">
    <app-product-showcase *ngFor="let product of productIndex" [productIndex]="product"
      class="col-md-2 col-sm-4 product" routerLink="/products/{{product.productId}}"></app-product-showcase>
  </div>
  <h3>Gợi ý cho bạn</h3>
  <div class="row my-3">
    <app-product-showcase *ngFor="let product of productRecommended" [productIndex]="product"
      class="col-md-2 col-sm-4 product" routerLink="/products/{{product.productId}}"></app-product-showcase>
  </div>
  <div class="text-center" *ngIf="currentpage < paging.totalPages">
    <button (click)="loadMore()"  class="btn btn-outline-primary">Tải Thêm</button>
  </div>
  
</div>